* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.Back-Ground {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}
.Back-Ground h1 {
    font-size: 45px;
    margin-top: -50px;
    margin-bottom: 50px;
    font-weight: bold;
}
.Back-Ground span {
    color: #ff4081;
}
textarea {
    height: 250px;
    width: 600px;
    color: white;
    background: #d1aeec;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
    opacity: 0.8;
}
textarea::placeholder {
    font-size: 16px;
    color: #ddd;
}

.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
select{
    flex: 1;
    color: #fff;
    background: #d1aeec;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #333;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.footer a {
    color: #007bff; 
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
